{% extends 'homepage.html' %}

{% block body %}
<title>Sign Up Here!</title>
{% endblock %}

{% block body %}
<h1> Enter your information</h1>
<br>
<div class = 'form'>
<form method='POST' action=''>
    {{ form.hidden_tag() }}
    <br>
        {{form.first_name.label}} <br>
        {{form.first_name(size=35)}}
    </p>
        {{form.last_name.label}} <br>
        {{form.last_name(size=35)}}
    </p>
    <p>
        {{form.email.label}} <br>
        {{form.email(size=35)}}
    </p>
    <p>
        {{form.phonenumber.label}} <br>
        {{form.phonenumber(size=35)}}
    </p>
    <p>
        {{form.username.label}} <br>
        {{form.username(size=35)}}
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=35)}}
    </p>
    <p> {{form.submit()}} <p>
</form>

{% endblock body %}
</body>
</html>