{% extends 'homepage.html' %}
{% block body %}
<title>Update Your Info!</title>
{% endblock %}

{% block body %}
<h1> Enter your information</h1>
<br>
<div class = 'form'>
<form method='POST' action=''>
    {{ form.hidden_tag() }}
</br>
<h2>Update Your Email</h2>
    <br>
        {{form.old_email.label}} <br>
        {{form.old_email(size=35)}}
    </p>
    <p>
        {{form.new_email.label}} <br>
        {{form.new_email(size=35)}}
    </p>
    <p> {{form.submit()}} <p>
</form>
{% if form.old_email.data and form.new_email.data %}
    <p> Your Email has been Updated!</p>
{% endif %}

{% endblock body_content %}
</body>
</html>
