{% extends 'navbar.html' %}
{% block body %}
<title>Update Your Info!</title>
{% endblock %}

{% block body %}
    <form action="{{ url_for('update_customer', customer_id=customer.customer_id) }}" method="POST">
        {{ form.hidden_tag() }}
        {{form.first_name.label}} {{form.first_name(size=35)}}
        {{form.last_name.label}} {{form.last_name(size=35)}}
        {{form.email.label}} {{form.email(size=35)}}
        {{form.phonenumber.label}} {{form.phonenumber(size=35)}}
        {{form.username.label}} {{form.username(size=35)}}
        {{form.password.label}} {{form.password(size=35)}}
        {{ form.submit }}
</form>
{% endblock %}