{% extends 'navbar.html' %}
{% block title %}
{% endblock %}

{% block body %}
<h2> Update Order</h2>
{% for Customer_order in update_order %}
    <br>{{customer.customer_id}}  {{customer.date_placed}} 

    <br> {{customer.date_placed}} {{customer.order_status}} <a href="{{ url_for('update_customer', customer_id = customer.id) }}"><button type="button">Update</button></a><a href="{{ url_for('delete_customer', customer_id = customer.id) }}"><button type="button">Delete</button></a> </p><br>
{% endfor %}
{% endblock %}







